[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytomlpp = "*"
lxml = "*"

[dev-packages]
black = "*"
mypy = "*"
isort = "*"
types-requests = "*"
pytest = "*"
pyhamcrest = "*"
pylint = "*"
lizard = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
