[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytomlpp = "*"

[dev-packages]
black = "*"
mypy = "*"
isort = "*"
types-requests = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
